<% include ../partials/_header %>


<main class="main">

    <div class="container-fluid">
        <div class="breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-wrap">
                            <nav aria-label="breadcrumb">
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="#">
                                            
                                        </a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">
                                        <a href="#">
                                           
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <div class="section list-products">
          <div class="container">
              <div class="row">
                  <div class="col-xl-3 col-lg-4 order-2 order-lg-1">
                      <div class="sidebar-wrapper">
                          <div class="sidebar-single">
                              <div class="sidebar-title">
                                  <h3>Products</h3>
                              </div>
                              <div class="sidebar-body">
                                  <ul class="sidebar-category">
                                      <li class="has-children">
                                          <a href="#">
                                              Batik Tulis
                                          </a>
                                          <ul class="children" style="display: none;">
                                              <li>
                                                  <a href="#">
                                                      Batik Tulis A
                                                  </a>
                                              </li>
                                              <li>
                                                  <a href="#">
                                                      Batik Tulis B
                                                  </a>
                                              </li>
                                              <li>
                                                  <a href="#">
                                                      Batik Tulis C
                                                  </a>
                                              </li>
                                          </ul>
                                      </li>
                                      <li class="has-children">
                                          <a href="#">Batik Cap</a>
                                          <ul class="children" style="display: none;">
                                              <li>
                                                  <a href="#">
                                                      Batik Cap A
                                                  </a>
                                              </li>
                                              <li>
                                                  <a href="#">
                                                      Batik Cap B
                                                  </a>
                                              </li>
                                              <li>
                                                  <a href="#">
                                                      Batik Cap C
                                                  </a>
                                              </li>
                                          </ul>
                                      </li>
                                      <li class="has-children">
                                          <a href="#">Batik Printing/Sablon</a>
                                          <ul class="children" style="display: none;">
                                              <li>
                                                  <a href="#">
                                                      Batik Printing/Sablon A
                                                  </a>
                                              </li>
                                              <li>
                                                  <a href="#">
                                                      Batik Printing/Sablon B
                                                  </a>
                                              </li>
                                              <li>
                                                  <a href="#">
                                                      Batik Printing/Sablon C
                                                  </a>
                                              </li>
                                          </ul>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                          <div class="sidebar-single">
                              <div class="sidebar-title">
                                  <h3>category</h3>
                              </div>
                              <div class="sidebar-body">
                                  <ul class="price-container">
                                      <li class="active">
                                          <label class="checkbox-container">
                                              Batik Tulis (10)
                                              <input type="checkbox" name="checkbox">
                                              <span class="checkmark"></span>
                                          </label>
                                      </li>
                                      <li>
                                          <label class="checkbox-container">
                                              Batik Cap (16)
                                              <input type="checkbox" name="checkbox">
                                              <span class="checkmark"></span>
                                          </label>
                                      </li>
                                      <li>
                                          <label class="checkbox-container">
                                              Batik Printing/Sablon (10)
                                              <input type="checkbox" name="checkbox">
                                              <span class="checkmark"></span>
                                          </label>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                          <div class="sidebar-single">
                              <div class="sidebar-title">
                                  <h3>price</h3>
                              </div>
                              <div class="sidebar-body">
                                  <ul class="price-container">
                                      <li class="active">
                                          <label class="radio-container">
                                              IDR 100.000 - 200.000
                                              <input type="radio" name="radio">
                                              <span class="checkmark"></span>
                                          </label>
                                      </li>
                                      <li>
                                          <label class="radio-container">
                                              IDR 200.000 - 500.000
                                              <input type="radio" name="radio">
                                              <span class="checkmark"></span>
                                          </label>
                                      </li>
                                      <li>
                                          <label class="radio-container">
                                              IDR 500.000 - 1.000.000
                                              <input type="radio" name="radio">
                                              <span class="checkmark"></span>
                                          </label>
                                      </li>
                                      <li>
                                          <label class="radio-container">
                                              IDR 1.000.000 - 2.000.000
                                              <input type="radio" name="radio">
                                              <span class="checkmark"></span>
                                          </label>
                                      </li>
                                      <li>
                                          <label class="radio-container">
                                              IDR 2.000.000 - 5.000.000
                                              <input type="radio" name="radio">
                                              <span class="checkmark"></span>
                                          </label>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                          <div class="sidebar-single">
                            <div class="sidebar-title">
                                <h3></h3>
                            </div>
                            <div class="sidebar-body">
                                <div class="popular-item-inner">
                                    <div class="popular-item">
                                        
                                  </div> <!-- end single popular item -->
                                </div>
                            </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-9 col-lg-8 order-1 order-lg-2">
                      <div class="shop-product-wrapper">
                          <div class="shop-top-bar">
                              <div class="row">
                                  <div class="col-lg-7 col-md-6">
                                      <div class="top-bar-left">
                                          <div class="product-view-mode">
                                              <a class="active" href="#" data-target="grid">
                                                  <i class="fa fa-th"></i>
                                              </a>
                                              <a href="" data-target="list">
                                                  <i class="fa fa-list"></i>
                                              </a>
                                          </div>
                                          <div class="product-amount">
                                              <p>Showing 1–16 of 21 results</p>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-lg-5 col-md-6">
                                      <div class="top-bar-right">
                                          <div class="product-short">
                                              <p>Sort By :</p>
                                              <select class="nice-select">
                                                  <option value="trending">Relevance</option>
                                                  <option value="sales">Name (A - Z)</option>
                                                  <option value="sales">Name (Z - A)</option>
                                                  <option value="rating">Price (Low &gt; High)</option>
                                                  <option value="date">Rating (Lowest)</option>
                                                  <option value="price-asc">Model (A - Z)</option>
                                                  <option value="price-asc">Model (Z - A)</option>
                                              </select>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="shop-product-wrap row grid">
                              


                              <% proddos.forEach(function (proddo) { %>

                              <div class="col-xl-4 col-lg-6 col-md-4 col-sm-6">
                                  <div class="product-item mb-20">
                                      <div class="product-thumb">
                                          <a href="product-details.html">
                                              <img src="<%= proddo.image %>" alt="product image">
                                          </a>
                                          <div class="box-label">
                                              <div class="product-label new">
                                                  <span>new</span>
                                              </div>
                                              <div class="product-label discount">
                                                  <span>-5%</span>
                                              </div>
                                          </div>
                                          <div class="product-action-link">
                                              <a href="#" data-toggle="modal" data-target="#quick_view">
                                                  <span data-toggle="tooltip" data-placement="left" title="Quick view">
                                                      <i class="far fa-eye"></i>
                                                  </span>
                                              </a>
                                              <a href="#" data-toggle="tooltip" data-placement="left" title="Compare">
                                                  <i class="fas fa-sync-alt"></i>
                                              </a>
                                              <a href="#" data-toggle="tooltip" data-placement="left" title="Wishlist">
                                                  <i class="far fa-heart"></i>
                                              </a>
                                          </div>
                                      </div>
                                      <div class="product-description text-center">
                                          <div class="manufacturer">
                                              <p><a href="product-details.html">Fashion Manufacturer</a></p>
                                          </div>
                                          <div class="product-name">
                                              <h3><a href="product-details.html">Endeavor Daytrip</a></h3>
                                          </div>
                                          <div class="price-box">
                                              <span class="regular-price">IDR 100.00</span>
                                              <span class="old-price"><del>IDR 120.00</del></span>
                                          </div>
                                          <div class="product-btn">
                                              <a href="#"><i class="fas fa-shopping-cart"></i></i>Add to cart</a>
                                          </div>
                                          <div class="hover-box text-center">
                                              <div class="ratings">
                                                  <span><i class="fa fa-star"></i></span>
                                                  <span><i class="fa fa-star"></i></span>
                                                  <span><i class="fa fa-star"></i></span>
                                                  <span><i class="fa fa-star"></i></span>
                                                  <span><i class="fa fa-star"></i></span>
                                              </div>
                                          </div>
                                      </div>
                                  </div>



                                  <div class="product-list-item mb-20">
                                      <div class="product-thumb">
                                          <a href="product-details.html">
                                              <img src="<%= proddo.image %>" alt="product image">
                                          </a>
                                          <div class="box-label">
                                              <div class="product-label new">
                                                  <span>new</span>
                                              </div>
                                              <div class="product-label discount">
                                                  <span>-5%</span>
                                              </div>
                                          </div>
                                          <div class="product-action-link">
                                              <a href="#" data-toggle="modal" data-target="#quick_view">
                                                  <span data-toggle="tooltip" data-placement="left" title="Quick view">
                                                      <i class="far fa-eye"></i>
                                                  </span>
                                              </a>
                                              <a href="#" data-toggle="tooltip" data-placement="left" title="Compare">
                                                  <i class="fas fa-sync-alt"></i>
                                              </a>
                                              <a href="#" data-toggle="tooltip" data-placement="left" title="Wishlist">
                                                  <i class="far fa-heart"></i>
                                              </a>
                                          </div>
                                      </div>
                                      <div class="product-list-content">
                                          <h4><a href="#">Fashion Manufacturer</a></h4>
                                          <h3><a href="product-details.html">Crown Summiiiit Backpacks</a></h3>
                                          <div class="ratings">
                                              <span class="good"><i class="fa fa-star"></i></span>
                                              <span class="good"><i class="fa fa-star"></i></span>
                                              <span class="good"><i class="fa fa-star"></i></span>
                                              <span class="good"><i class="fa fa-star"></i></span>
                                              <span><i class="fa fa-star"></i></span>
                                          </div>
                                          <div class="pricebox">
                                              <span class="regular-price">$70.00</span>
                                              <span class="old-price"><del>$90.00</del></span>
                                          </div>
                                          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                                              nonumy eirmod tempor invidunt ut
                                              labore et
                                              dolore magna aliquyam erat, sed diam voluptua. Phasellus id nisi
                                              quis justo tempus mollis sed et dui.
                                              In
                                              hac habitasse platea dictumst. Suspendisse ultrices mauris diam.
                                              Nullam sed aliquet elit.</p>
                                          <div class="product-btn">
                                              <a href="#"><i class="fas fa-shopping-cart"></i></i>Add to cart</a>
                                          </div>
                                      </div>
                                  </div>
                              </div>

                              <% }) %>

                           
                          </div>
                          <div class="pagination-area">

                                <% if(pages > 0) { %> <!-- show pagination if there is pages -->
                                    <nav  class="mx-auto" style="margin-bottom: 50px">
                                      <ul class="pagination-box">
                                        <!-- FIRST ITEM -->
                                        <% if(current == 1) { %>
                                          <li class="page-item disabled">
                                            <a class="page-link" href="#">First</a>
                                          </li>
                                        <% } else { %>
                                          <li class="page-item">
                                            <a class="page-link" href="/proddosindex/1">First</a>
                                          </li>
                                        <% } %>
                                        <!-- ITEMS  -->
                                        <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                                        <% if(i !== 1) { %>
                                          <li class="page-item disabled">
                                            <a class="page-link" href="#">...</a>
                                          </li>
                                        <% } %>
                                        <% for(; i <= (Number(current) + 4) && i <= pages; i++) { %>
                                          <% if(i == current) { %>
                                            <li class="page-item active">
                                              <a class="page-link" href="<%= i %>">
                                                <%= i %>
                                              </a>
                                            </li>
                                          <% } else { %>
                                            <li class="page-item">
                                              <a class="page-link" href="/proddosindex/<%= i %>">
                                                <%= i %>
                                              </a>
                                            </li>
                                          <% } %>
                                          <% if (i == Number(current) + 4 && i < pages) { %>
                                             <li class="page-item disabled">
                                               <a class="page-link" href="#">...</a>
                                             </li>
                                          <% } %>
                                        <% } %>
                                        <!-- LAST ITEM -->
                                        <% if(current == pages) { %>
                                          <li class="page-item disabled">
                                            <a class="page-link" href="#">
                                              Last
                                            </a>
                                          </li>
                                        <% } else { %>
                                          <li class="page-item">
                                            <a class="page-link" href="/proddosindex/<%= pages %>">
                                              Last
                                            </a>
                                          </li>
                                        <% } %>
                                      </ul>
                                    </nav>
                                  <% } %>




                                  





                             
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</main>

<footer>
  <div class="newsletter-area">
      <div class="container">
          <div class="row">
              <div class="col-12 col-lg-6 col-md-6">
                  <div class="newsletter-inner">
                      <div class="newsletter-title">
                          <h3>newsletter signup</h3>
                      </div>
                      <div class="newsletter-box">
                          <form id="mc-form">
                              <input type="email" id="mc-email" autocomplete="off" placeholder="Your Email address">
                              <button class="newsletter-btn" id="mc-submit">
                                  <i class="far fa-envelope"></i>
                              </button>
                          </form>
                      </div>
                  </div>
                  <div class="mailchimp-alerts">
                      <div class="mailchimp-submitting"></div>
                      <div class="mailchimp-success"></div>
                      <div class="mailchimp-error"></div>
                  </div>
              </div>
              <div class="col-12 col-lg-6 col-md-6 ml-auto">
                  <div class="social-share-area">
                      <h3>Follow Us</h3>
                      <div class="social-icon">
                          <a href="#"><i class="fab fa-facebook-f"></i></a>
                          <a href="#"><i class="fab fa-twitter"></i></a>
                          <a href="#"><i class="fa fa-rss"></i></a>
                          <a href="#"><i class="fab fa-youtube"></i></a>
                          <a href="#"><i class="fab fa-instagram"></i></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="widget-area">
      <div class="container">
          <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-6">
                  <div class="footer-widget">
                      <div class="footer-widget-title">
                          <h3>shipping and delivery</h3>
                      </div>
                      <div class="footer-widget-body">
                          <p>Here you can read some details about a nifty little lifecycle of your order's
                              journey from
                              the time you place your order to your new treasures arriving at your doorstep.</p>
                      </div>
                      <div class="footer-widget-title mt-4">
                          <h3>payment method</h3>
                      </div>
                      <div class="footer-widget-body">
                          <p>It is equally important to choose the solution which offers a specific selection of
                              credit
                              cards. We take Visa & MasterCard as they are widely used by cyber customers.</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-2 col-md-6 col-sm-6 col-6">
                  <div class="footer-widget">
                      <div class="footer-widget-title">
                          <h3>useful link</h3>
                      </div>
                      <div class="footer-widget-body">
                          <ul class="useful-link">
                              <li><a href="list.html">Our Products</a></li>
                              <li><a href="account.html">Account</a></li>
                              <li><a href="wishlist.html">Wishlist</a></li>
                              <li><a href="faq.html">Faq</a></li>
                              <li><a href="about-us.html">About us</a></li>
                              <li><a href="contact-us.html">contact us</a></li>
                              <li><a href="login-register.html">login/signup</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-lg-2 col-md-6 col-sm-6 col-6">
                  <div class="footer-widget">
                      <div class="footer-widget-title">
                          <h3>our company</h3>
                      </div>
                      <div class="footer-widget-body">
                          <ul class="useful-link">
                              <li><a href="list.html">Our Products</a></li>
                              <li><a href="account.html">Account</a></li>
                              <li><a href="wishlist.html">Wishlist</a></li>
                              <li><a href="faq.html">Faq</a></li>
                              <li><a href="about-us.html">About us</a></li>
                              <li><a href="contact-us.html">contact us</a></li>
                              <li><a href="login-register.html">login/signup</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6">
                  <div class="footer-widget profile-company">
                      <div class="footer-widget-title pb-3">
                          <div class="footer-logo">
                              <a href="index.html">
                                  <img src="dist/assets/img/logo/logo-small.png" alt="">
                              </a>
                          </div>
                      </div>
                      <div class="footer-widget-body">
                          <ul class="address-box">
                              <li>
                                  <span>ADDRESS:</span>
                                  <p>Taman Kopo Indah 5, Sommerville 7 38<br>
                                      Bandung, Indonesia</p>
                              </li>
                              <li>
                                  <span>call us now:</span>
                                  <p>+628192891821</p>
                              </li>
                              <li>
                                  <span>email:</span>
                                  <p>email@yourdomain.com</p>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>


  <% include ../partials/_footer %>